.section4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
}
.section4__left {
  flex: 0.45;
  position: relative;
}
.section4__left__blur {
  position: absolute;
  width: 195px;
  height: 324px;
  left: -65px;
  top: 22px;

  background: #ffffff;
  filter: blur(450px);
  z-index: 1;
}
.section4__left img {
  z-index: 2;
}
.section4__right {
  flex: 0.45;
}
.section4__right__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
.section4__right__bottom img {
  width: 150px;
}
.section4__right__title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 160%;
  /* or 77px */

  letter-spacing: 0.01em;

  color: #ffffff;
}
.section4__right__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */

  letter-spacing: 0.01em;

  color: rgba(255, 255, 255, 0.7);
  margin: 3rem 0;
  width: 80%;
}
